<%inherit file="template.html"/>

<%!
    import json
%>

<script>
    function displayDate() {
        var dropdown = document.getElementById("concertDate");
        var output = document.getElementById("selecteddate");

        var selecteddate = dropdown.value;
        output.innerHTML = selecteddate;
    }
</script>

<div class="container">
    <h2>Choisissez une date de concert</h2>
    <form action="Recherche_par_date" method="post">
        <div class="form-group">
            <label for="concertDate">Date de concert</label>
            <input type="date" id="concertDate" name="concertDate" class="form-control" onchange="displayDate()" required>
        </div>
        <p>date sélectionné : <span id="selecteddate"></span></p>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</div>
