<%inherit file="template.html"/>
<%doc> début de ce qui va être le "self.body()" ...  </%doc>


<div class="container mt-5">
  <h2 class="mb-4">Prochains Concerts</h2>
  % for concert in concerts:
    <div class="concert-card">
        <img src="/static/assets/concert1.jpg" alt="Concert" class="concert-image">
        <div class="concert-details">
            <h5>${concert[0]}</h5>
            <p>Date : ${concert[1]}</p>
            <p>Lieu : ${concert[2]}</p>
        </div>
    </div>
  % endfor
</div>