<%inherit file="template.html"/>
<%doc> début de ce qui va être le "self.body()" ...  </%doc>

<h3 class="center">Rappel du sujet :</h3>

<h4>
"Réaliser une jolie interface web pour afficher la base, insérer et supprimer des étudiants".
</h4>


<pre class="bg-info text-white">
<b>Remarques :</b>
- Utilisation de Cherrypy.
- Ajout de ressources statiques (fichiers css et javascript).
- Utilisation de Mako pour les templates.
- Utilisation de quelques élements de Bootstrap pour que ce soit plus joli.

- Implémentation d'une base "étudiants".
- 3 affichages disponibles (tout, plus jeune, par âge).
- 2 suppression disponibles (par id, par nom et prénom).
- 1 insertion disponible.
</pre>
<%doc> fin de ce qui va être le "self.body()" ...  </%doc>

